menu {
	display: grid;
	gap: 2em;
}

li {
	display: grid;
}

legend {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 0.5em;
}

input {
	background-color: gray;
	padding: 0.5em 1em;

}

form {
	display: grid;
	max-width: 300px;
	padding: 1em;
	margin: auto;
	border: solid 2px black;
}

button {
	width: fit-content;
	justify-self: center;
	padding: 1em;
	border-radius: 1em;
	background-color: blue;
}

output {
	display: grid;
	gap: 1em;
}

h2 {
	font-size: 1.5em;
}