menu {
	display: grid;
	gap: 1.5em;
}

li {
	display: grid;
	gap: 0.75em;
}

legend {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 0.75em;
}

input {
	background-color: rgb(209, 209, 209);
	padding: 0.5em 1em;
}

form {
	display: grid;
	gap: 3em;
	max-width: 300px;
	padding: 1em;
	margin: auto;
	border: solid 2px black;
}

button {
	width: fit-content;
	justify-self: center;
	padding: 1em;
	border-radius: 1em;
	background-color: rgb(209, 209, 209);
}

output {
	display: grid;
	gap: 1em;
}

h1 {
	font-size: 2em;
	text-align: center;
	margin: 2em 0;
}

h2 {
	font-size: 1.5em;
}

.ingresos {
	color: green;
}

.perdidas {
	color: red;
}