/* form {
	display: grid;
} */

menu {
	display: grid;
	gap: 2em;
}

li {
	display: grid;
	/* background-color: gray; */
}

legend {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 0.5em;
}

input {
	background-color: gray;
	padding: 0.5em 1em;

}

form {
	max-width: 300px;
	margin: auto;
}